<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Comparador de Ciudades</h3>
      </div>
      <div class="panel-body">
        <two-cities-input 
          city1="city1"
          city2="city2"
          start-date="startDate"
          end-date="endDate"
          on-submit="submit()"
        ></two-cities-input>
      </div>
    </div>

    <div class="row" ng-if="comparisonResults.length">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div id="mapCity1" style="width:100%; height:150px; margin-bottom:1em;"></div>
          </div>
          <div class="col-md-6">
            <div id="mapCity2" style="width:100%; height:150px; margin-bottom:1em;"></div>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Diferencia de zona horaria</h3>
          </div>
          <div class="panel-body text-center">
            <p class="lead">
              {{ comparisonResults[0].lastUpdated[city1].split(' ')[1].split(':')[0] - comparisonResults[0].lastUpdated[city2].split(' ')[1].split(':')[0] }}h
            </p>
          </div>
        </div>
      </div>
    
      <div class="col-md-12" ng-repeat="result in comparisonResults">
        <div class="row">
          <div class="col-md-6" ng-repeat="city in [city1, city2]">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-8">
                    <h3 class="panel-title">{{ city }}</h3>
                  </div>
                  <div class="col-xs-4 text-right">
                    <small>{{ result.lastUpdated[city] }}</small>
                  </div>
                </div>
              </div>
              <div class="panel-body text-center">
                <img ng-src="{{ result.cards[city].icon }}" class="img-responsive center-block" style="width:100px; margin:15px auto;">
                <h4><span class="label label-info">{{ result.cards[city].condition }}</span></h4>
                <div class="well well-sm">
                  <div class="row">
                    <div class="col-xs-6">
                      <p><strong>Temperatura:</strong></p>
                      <h4>{{ result.cards[city].temp }}°C</h4>
                    </div>
                    <div class="col-xs-6">
                      <p><strong>Humedad:</strong></p>
                      <h4>{{ result.cards[city].humidity }}%</h4>
                    </div>
                  </div>
                </div>
                <p><strong>Zona horaria:</strong> {{ result.cards[city].tz }}</p>
                <p><strong>Fecha del pronóstico:</strong> {{ result.cards[city].forecastDate }}</p>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Análisis Comparativo - {{ result.date }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="alert alert-danger">
                    <h4>Ciudad más caliente:</h4>
                    <p>{{ result.hotter.city }} con {{ result.hotter.temperature }}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="alert alert-info">
                    <h4>Ciudad más fría:</h4>
                    <p>{{ result.colder.city }} con {{ result.colder.temperature }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>