<form
  ng-submit="submit()"
  name="forecastForm"
  class="form-horizontal text-black"
  style="margin-bottom: 10px"
  novalidate
>
    <div class="row">
    <!-- Primera ciudad/Única ciudad -->
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
            Ciudad {{ isCompare ? '1' : ''}}:
        </label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-map-marker"></i>
            </span>
            <input
              ng-show="isCompare"
              type="text"
              class="form-control"
              ng-model="city1"
              placeholder="Ej: Madrid"
              ng-required="isCompare"
            />
            <input
              ng-show="!isCompare"
              type="text"
              class="form-control"
              ng-model="city"
              placeholder="Ej: Madrid"
              ng-required="!isCompare"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
            {{ isCompare ? 'Fecha a comparar' : 'Fecha inicio' }}:
            </label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input
              name="startDate"
              type="date"
              class="form-control"
              ng-model="startDate"
              ng-required="true"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group" ng-show="isCompare">
        <label class="col-sm-4 control-label">Ciudad 2:</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-map-marker"></i>
            </span>
            <input
              type="text"
              class="form-control"
              ng-model="city2"
              placeholder="Ej: Barcelona"
              ng-required="isCompare"
            />
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="!isCompare">
        <label class="col-sm-4 control-label">Fecha final:
        </label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input
              type="date"
              class="form-control"
              ng-model="endDate"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group text-center" style="margin-top: 10px">
    <button type="submit" class="btn btn-danger btn-lg">
      <i class="fa fa-cloud"></i>
      {{ isCompare ? 'Comparar Ciudades' : 'Obtener pronóstico' }}
    </button>
  </div>
</form>
